body {
  margin: 0px;
  border: 0px;
  font-family: Helvetica;
  background-image: url("./resources/images/mix color background.jpg")
}

h1 {
  font-family: Helvetica;
  color: white;
  font-size: 60px;
  display: inline-block;
  padding-left: 31px;
}

Header { background-color: #7e4be4;
  padding: 15px;
  margin: 3px 5px 15px 5px;
  position: fixed;
  z-index: 5;
  display: inline-block;
  width:100%


}

.head {
  font-family: ;
  color: black;
  z-index: 10;
  display: inline-block;
  text-align: right;


}

nav {
  text-align: left;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 150px;
}

nav li {
  display: inline-block;
  text-align: left;

}

nav a {
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-color: darkturquoise;
  border: thin solid turquoise;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

h2 {
  font-family: Helvetica;
  background-image: url ("./resources/images/mix color background.jpg")


}

h3 {
  font-family: Helvetica;


}

p {
  font-family: Helvetica;


}



div {
padding-top: 230px;
text-align: center;
background-image: url("./resources/images/mix color background.jpg")
}

ul li {
  text-align: left;
  display: inline block;
}

.homeimage {
  display: inline block;
  text-align: right;

}

p a {
text-decoration: none;
font-weight: bold;
color: darkturquoise;
}

span {
  color: turquoise;
  font-weight: bold;
}
.toppage {
  background-image: url("resources/images/mix color background.jpg")
}
